{% extends "base.html" %}

{% block title %}WebexProv{% endblock %}

{% block content %}

<div class="container">

    <div class="alert alert-success" role="alert">
        Access Token: {{ token }}
    </div>

    <div class="alert alert-success" role="alert">
        Ausgewählte Org: {{ selectedOrg.org_Name }} - {{ selectedOrg.org_ID }}
    </div>



    <form action="/readexcel" method="POST" enctype="multipart/form-data">

        <div class="form-group custom-file mb-3">
            <input type="file" class="custom-file-input" name="excelFile" id="excelFile"
                   aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label" for="excelFile">Excel Datei</label>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Excel einlesen</button>

    </form>

    {% if exceldatei %}
    <div class="alert alert-success mb-3" role="alert">
        Excel Datei: {{ exceldatei }}
    </div>
    {% endif %}

    <form action="/starteimport" method="POST">

        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Prozessoptionen</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="prozessoptionen">
                <option value="1" selected>Update</option>
                <option value="2">Insert</option>
                <option value="3">Update + Insert</option>
                <option value="4">Delete</option>
            </select>
            <small id="prozesshelp" class="form-text text-muted">Wenn Directory Connector genutzt wird, können User nur
                geupdatet werden.</small>

        </div>
        <button type="submit" class="btn btn-primary">Import</button>

    </form>





</div>
{% endblock %}
